<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Demo</title>
  </head>

  <body>
    <img src="https://i.imgur.com/2S3N16R.png" alt="qrcode-image" />
    <div id="form">
      <input type="file" name="file" id="file" />
    </div>
    <p>
      qrcode content:
      <span id="content"></span>
    </p>
    <a
      href="https://github.com/sinchang/qrcode-parser/blob/master/example/index.js"
      >example source code</a
    >
  </body>
</html>
