<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Demo</title>
  </head>

  <body>
    <div class="section">
      <h3>QR code Url</h3>
      <input id="image-url" type="text" placeholder="QR code url here" />
      <input type="button" id="parse-image-url" value="Parser" />
      <p>
        QR code content:
        <span id="content1"></span>
      </p>
    </div>
    <div class="section">
      <h3>QR code Base64</h3>
      <textarea
        id="image-base64"
        placeholder="QR code base64 code here"
      ></textarea>
      <input type="button" id="parse-image-base64" value="Parser" />
      <p>
        QR code content:
        <span id="content2"></span>
      </p>
    </div>
    <div class="section">
      <h3>Upload QR code</h3>
      <div id="form">
        <input type="file" name="file" id="file" />
      </div>
      <p>
        QR code content:
        <span id="content3"></span>
      </p>
    </div>
  </body>
</html>
